{% extends "main.html" %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
<br><font size= 7><b>About this Wiki</b></font>

<!-- TODO(Project 1): Add info about the wiki. -->
<h1></h1>

<h3>Your Authors</h3>

<!-- TODO(Project 1): Add team members and pictures to about page. -->
<div>
    <h3>Camila Gloria</h3>
    <img src="data:image/png;base64,{{ image_datas[0] }}" alt="Authors" style="width: 25%; height: auto;">
</div>
<div>
    <h3>Sarah Diaz</h3>
    <img src="data:image/png;base64,{{ image_datas[1] }}" alt="Authors" style="width: 25%; height: auto;">
</div>
<div>
    <h3>Ricardo Morell</h3>
    <img src="data:image/png;base64,{{ image_datas[2] }}" alt="Authors" style="width: 25%; height: auto;">
</div>
{% endblock %}

