{% extends "main.html" %}

{% block content %}
<div id='login-page'>
    <br><font size= 4><b>Log In</b></font>

    <!-- 
        This code is a login form that extens the main.html template. It includes input fields for the username and password with a submit button. 
        There's also a section of the code that uses the Flash "get_flashed_messages()" funtion to get any flashed messages from previous requests.
        Error messages are displayed in red and success messages are displayed in green.
    -->

    <form id="login-form" method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="Username">
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password">
    
        <input type="submit" value="Log in">
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    {% if message.category == 'error' %}
                        <li style="color: red">{{ message }}</li>
                    {% elif message.category == 'success' %}
                        <li style="color: green">{{ message }}</li>
                    {% else %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

{% endblock %}
