<!DOCTYPE html>
<html>

    <div id="navigation-buttons">
        <head>
            <head>
                <title>Wiki Server</title>
            </head>
        </head>
        <!-- If the user is not authenticated, the code displays a set of navigation buttons to other pages also welcomes the user to the website. -->
        {% if not current_user.is_authenticated %}
        <div>
            <a href="/">
                <button>Home</button>
            </a>
            <a href="/about">
                <button>About</button>
            </a>
            <a href="/pages">
                <button>Pages</button>
            </a>
            <span>   |   </span>
            <a href="/login">
                <button>Log In</button>
            </a>
            <a href="/signup">
                <button>Sign Up</button>
            </a>
        </div>
        <!-- On the other hand, if the user is authenticated, the code displays a similar set of navigation buttons, but includes additional buttons for uploading content and logging out. -->
        {% else %}
        <div>
            <a href="/">
                <button>Home</button>
            </a>
            <a href="/pages">
                <button>Pages</button>
            </a>
            <a href="/about">
                <button>About</button>
            </a>
            <span>|  {{ current_user.username }}   |</span>
            <a href="/upload">
                <button>Upload</button>
            </a>
            <a href="/logout">
                <button>Logout</button>
            </a>
        </div>
        {% endif %}

        {% block content %}
            <body>
                {% if not current_user.is_authenticated %}
                    <p>
                        <span>Welcome to our awesome Wiki Server, we're glad to have you here!</span>
                    </p>
                {% else %}
                    <p>
                        Welcome, <span style = "color:fuchsia"><b>{{ current_user.username }}</b></span>!
                    </p>
                {% endif %}

                <div id="your_id">       
                    <br><font size= 5><b>The Ultimate Guide to Building a PC</b></font>
                </div>
            </body>
        {% endblock %}
    </div>
</html>